.post {
  margin: 15px;
  cursor: pointer;
  width: 400px;
  height: 400px;
}

.title {
  bottom: 0;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
