.post {
  cursor: pointer;
  height: 400px;
  z-index: 1;
}

.title {
  bottom: 0;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  color: white;
  background-color: rgba(0, 0, 0, .6);
}

.top-post {
  overflow-x: hidden;
  width: 860px;
  margin: auto;
  padding: 0 15px;
}
