@import "../app.component";

.side-bar {
  width: 300px;
}

.side-bar > .card {
  background: rgba(255, 255, 255, .25);
  margin: 25px 25px 50px;
}
.side-bar > .card:first-child {
  margin-top: 50px;
}

header {
  border-bottom: 3px solid red;
}
