@import "../styles";

.header {
  flex: 1;
}

header::after, header::before {
  @extend .side-bar;
  content: '';
}

.side-bar {
  width: 200px;
}

.header-title {
  font-size: 24px;
}

.content {
  height: 100%;
  padding: 25px 200px;
  width: max-content;
  margin: auto;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  margin-left: 25px;
  cursor: pointer;
  border-bottom: 3px red solid;
  position: relative;
  bottom: -3px;
  outline: none;
}

li:first-child {
  margin: 0;
}

li:hover {
  border-bottom-color: grey;
}

.fs-16 {
  font-size: 18px;
}

.scroll-content {
  overflow-y: auto;
  height: calc(100% - 59px);
}

.logo {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: -3px;
  left: -54px;
}

.menu-text {
  position: relative;
  bottom: -7px;
}

.active-menu-item {
  border-bottom-color: blue;
}

.menu-button {
  width: 32px;
  height: 32px;
  position: relative;
  bottom: -3px;
  cursor: pointer;
}

.menu {
  @extend .menu-button;
  background: url("../assets/images/grey-menu.svg") no-repeat;
  background-size: cover;
}

.menu-active {
  @extend .menu-button;
  background: url("../assets/images/red-menu.svg") no-repeat;
  background-size: cover;
}

.menu-item {
  display: none;
}

.menu-item-show {
  position: absolute;
  display: block;
  bottom: -148px;
  left: -110px;
  width: 150px;
}

.menu-item ul {
  list-style-type: none;
}

.item {
  border: 2px solid grey;
  margin-bottom: 5px;
  padding: 5px;
  background-color: white;
  text-align: center;
}
.item:last-child {
  margin-bottom: 0;
}
