@import "../styles";

.header {
  flex: 1;
}

header::after, header::before {
  @extend .side-bar;
  content: '';
}

.side-bar {
  width: 200px;
}

.header-title {
  font-size: 24px;
}

.content {
  height: 100%;
  padding: 25px 200px;
  width: max-content;
  margin: auto;
}

header {
  border-bottom: 3px solid red;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  margin-left: 25px;
  cursor: pointer;
}

li:first-child {
  margin: 0;
}

.fs-16 {
  font-size: 18px;
}

.scroll-content {
  overflow-y: scroll;
  height: calc(100% - 59px);
}
